* {
  box-sizing: border-box;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.App-logo {
  height: 40%;
  pointer-events: none;
  position: relative;
  bottom: 30%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.calculator{
  display: flex;
  flex-direction: column;
  max-width: 700px;
  min-width: 420px;
  margin: 40px auto;
  overflow: hidden;
  background-color: #000;
  border: 2px solid #000;
  border-top-color: #999;
  border-left-color: #666;
  border-right-width: 1px;
  border-bottom-width: 1px;
  box-shadow: 8px 12px 18px #555;
}

.history{
  display: flex;
  position: absolute;
  font-size: 15px;
  color: grey;
  top:10%;
  right: 60px;
  text-align: right;
  height: 20px;
  overflow: hidden;
}

.display {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 32px;
  color: white;
  background-color: #282c34;
  font-weight: bold;
  padding: 8px;
}
.display:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(145deg, rgba(255,255,255,0) 0%, rgba(180,180,180,0.01) 50%, rgba(255,255,255,0.15) 100%);
  transform: skewX(-40deg);
  transition-duration: 1s;
  left:-50%;
}

.btn-row{
  width: 100%;
  display: flex;
  height: 100px;
  overflow: visible;
  background-color: #000;
}

.btn{
  font-size: 42px;
  padding: 16px;
  cursor: pointer;
  width: calc(100% / 4);
  height: auto;
  background-color: #CCC;
  border: 1px solid #AAA;
}
.btn:last-child{
  background: #D84;
  border: 1px solid #000;
}
.btn:focus{
  outline: none;
}
.btn:hover{
  outline: none;
  border: 1px solid #777;
  border-top: 2px solid #999;
  border-left: 2px solid #999;
}
.btn-zero{
  width: calc(100% / 2);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
